* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #323232;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer,
.header {
  text-align: center;
  width: 100%;
  padding: 40px;
  color: white;
  background-color: #1e1e1e;
}

ul,
li {
  list-style: none;
}
.navbar ul {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -25px;
}

.navbar ul li {
  padding: 0px 10px;
}

.navbar ul li a {
  color: white;
  padding: 3px 3px;
  text-decoration: none;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: dodgerblue;
}
