* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #323232;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer,
.header {
  text-align: center;
  width: 100%;
  padding: 40px;
  color: white;
  background-color: #1e1e1e;
}
.main {
  display: flex;
  align-items: start;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}
/* NavBar */
ul,
li {
  list-style: none;
}
.navbar ul {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -25px;
}

.navbar ul li {
  padding: 0px 10px;
}

.navbar ul li a {
  color: white;
  padding: 3px 3px;
  text-decoration: none;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: dodgerblue;
}

/* Sppiner */
.sppiner {
  position: fixed;
  top: 50%;
  left: 50%;

  height: 90px;
  width: 90px;
  border: 10px solid rgba(30, 143, 255, 0);
  border-radius: 50%;
  border-top: 10px solid rgba(30, 143, 255, 0.504);
  transform: translate(-50%, -50%);
  animation: sppiner 0.5s linear infinite;
}

@keyframes sppiner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Blog */

.post-parent {
  display: grid;
  width: 100%;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.post-parent li {
  display: flex;
  background: rgba(255, 255, 255, 0.167);
  box-shadow: rgba(0, 0, 0, 0.167) 0px 1px 4px;
  padding: 20px;
  border-radius: 20px;
  height: 100px;
  max-height: 100px;
  overflow: scroll;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.post-parent li:hover {
  background-color: dodgerblue;
  color: white;
}
.post-parent li h5 {
  font-size: 30px;
  margin-right: 10px;
}
.post-parent li > * {
  pointer-events: none;
}

/* post card */
.post-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
  align-items: start;
}

.post-card h1 {
  margin-bottom: 20px;
}

.post-card p {
  line-height: 1.7;
}

/* title wrapper */
.title-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
