* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.get-to-do form,
.to-do-lists {
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 20px;
}

.get-to-do form input {
  width: 100%;
  margin-right: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
}

.get-to-do form button {
  width: 120px;
  cursor: pointer;
  background: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  transition: 0.5s;
}
.get-to-do form button:hover {
  background: yellowgreen;
}
ul {
  width: 100%;
}
.lists-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
  font-size: 14px;
  min-height: 35px;
  align-items: center;
}
.lists-row h2 {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}

.lists-row button {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid gray;
  transition: 0.5s;
  cursor: pointer;
  background: none;
}
.lists-row button:hover {
  background: green;
}
.lists-row button:last-child:hover {
  background: crimson;
}
